<!DOCTYPE html>
<html>

@using Microsoft.AspNetCore.Identity
@using Power.BO

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<head>
    <title>Power</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div id="body-container">
        <header>
            <div>
                @if (SignInManager.IsSignedIn(User))
                {
                    <ul class="no-style">
                        <li class="header-list">@UserManager.GetUserName(User) | </li>
                        <li>@Html.ActionLink("Logout", "Logout", "Login", null, null, null, null, new { @class = "header-list" })</li>
                    </ul>
                }
                else
                {
                    <ul class="no-style">
                        <li>@Html.ActionLink("Login", "Login", "Login", null, null, null, null, new { @class = "header-list" })</li>
                    </ul>
                }
            </div>
            <div>
                <h1>Power</h1>
            </div>
            <div class="nav-container">
                <nav>
                    <ul>
                        <li>@Html.ActionLink("Home", "Index", "Home", null, null, null, null, null)</li>
                        <li>@Html.ActionLink("Programs", "Index", "Program", null, null, null, null, null)</li>
                        <li>@Html.ActionLink("Media", "Index", "Media", null, null, null, null, null)</li>
                    </ul>
                </nav>
            </div>
        </header>
        <div>
            @RenderBody()
            <footer>
                &copy 2018 Tom Vanswijgenhoven
            </footer>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/site.js" type="text/javascript"></script>
</body>
</html>
